.sandbox-editor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0;
}

.sandbox-editor pre,
.sandbox-editor textarea {
  font-family: monospace;
  font-size: .875rem;
  line-height: 1.5rem;
  grid-area: 1 / 1 / 2 / 2;
  padding: 1em;
  margin: .5em 0;
  overflow: hidden;
  border: none;
}

.sandbox-editor textarea {
  caret-color: white;
  background-color: transparent;
  color: transparent;
  resize: none;
  appearance: none;
}

.sandbox-editor code {
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  overflow: hidden;
}